* {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
}

.catalog-item h3,
.breadcrumbs,
.price-old,
.price-preset,
.pagination-list,
.about-product p,
.catalog-filter,
.sort,
.about-company p,
.contacts p,
.service-list p {
	font-family: 'PT Sans', Arial, sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header {
	background-color: #f4f7f9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

}

.header-top {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
	min-height: 42px;
}

.header-top .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-header-logo {
	display: block;
	width: 220px;
	height: 47px;
	padding: 14px 55px;
	background-color: #ee3643;
	-webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	position: absolute;
}

.search-field {
	margin-right: auto; 
	display: block;
	line-height: 18px;
	padding: 12px 21px;
	padding-left: 49px;
	margin: 0;
	border:none;
	height: 100%;
	width: 270px;
	position: relative;
}

.search {
	position: relative;
	margin-left: 220px;
}

.header-top .bookmarks,
.header-top .cart,
.header-top .make-order {
	display: block;
	line-height: 18px;
	min-width: 150px;
	padding: 12px 21px;
	margin: 0;
}

.header-top .bookmarks,
.header-top .cart {
	padding-left: 48px;
	position: relative;
}

.header-top .bookmarks::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 17px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
	opacity: 0.3;
}

.header-top .cart::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 17px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
	opacity: 0.3;
}

.header-top .cart:hover::before,
.header-top .bookmarks:hover::before {
	opacity: 1;
}

.header-top .cart:active::before,
.header-top .bookmarks:active::before {
	opacity: 0.3;
}

.header-top a {
	color: #ffffff;
}

.header-top a:hover {
	background-color: #212a3a;
}

.header-top a:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.header-top input {
	background-color: #293449;
	color: #ffffff;
}

.header-top input:focus {
	background-color: #ffffff;
	color: #000000;
}

a.main-header-logo:hover,
a.main-footer-logo:hover {
	background-color: #ca2c37;
}

a.main-header-logo:active,
a.main-footer-logo:active {
	background-color: #ba2732;
}

a.make-order {
	background-color: #63a63e;
}

a.make-order:hover {
	background-color: #5fbb2d;
}

a.make-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.header-middle {
	min-height: 158px;		
	padding-top: 48px;
}

.header-middle .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-page-title {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
	margin: 0;
	margin-left: 52px;
	display: block;
	width: 196px;
}

p.main-page-title {
	font-weight: bold;
}

.main-header-contacts {
	margin: 0px;
}

.main-header-contacts .number {
	font-size: 21px;
	font-style: normal;
	line-height: 21px;
	color: #ee3643;
	display: block;
	min-width: 270px;
	padding: 9px 52px 9px 74px;
	border: solid 3px #ffffff;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.main-header-contacts .number::before {
	content: "";  
	position: absolute;
	top: 10px;
	left: 15px;  
	width: 19px;
	height: 19px;  
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
	opacity: 0.3;
}

.main-header-contacts .adress {
	display: block;
	text-align: center;
}

.account-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.account-links-top {
	position: relative;
}

.account-links a {
	font-size: 21px;
	font-style: normal;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	display: inline-block;
	padding: 11px 13px 13px;
	margin-left: 8px;
	position: relative;
}

.my-oders::after {
	content: "";  
	position: absolute;
	top: 18px;
	right: -10px;  
	width: 5px;
	height: 5px;  
	background-color: #32425c;
	z-index: 1;
	border-radius: 50%;
}

.account-links .login-link {
	padding-left: 48px;
	position: relative;
}

.account-links .login-link::before {
	content: "";  
	position: absolute;
	top: 14px;
	left: 17px;  
	width: 20px;
	height: 17px;  
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
	opacity: 0.3;
}

.login-link:hover::before {
	opacity: 1;
}

.login-link:active::before {
	opacity: 0.3;
}

.account-links a:hover {
	color: #ee3643;
}

.account-links a:active {
	color: rgba(0, 0, 0, 0.3);
}

.account-links .profile-link {
	padding-left: 47px;
	padding-right: 69px;
	position: relative;
}

.account-links .profile-link::before {
	content: "";  
	position: absolute;
	top: 14px;
	left: 17px;  
	width: 20px;
	height: 17px;  
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
	opacity: 0.3;
}

.profile-link:hover::before {
	opacity: 2;
}

.profile-link:active::before {
	opacity: 0.3;
}

.account-links .profile-link:hover {
	color: #000000;
}

.account-links .profile-link:active {
	color: rgba(0, 0, 0, 0.3);
}

a.exit-link {
	position: absolute;	
	top: 10px;
	right: 10px;
}

.account-links .exit-link::before {
	content: "";  
	position: absolute;
	top: 3px;
	right: 2px; 
	width: 20px;
	height: 17px;  
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
	background-position: 0 0; 
	opacity: 0.3;
}

.exit-link:hover::before {
	opacity: 1;
}

.exit-link:active::before {
	opacity: 0.3;
}

.site-navigation {
	font-size: 17px;
	font-style: normal;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	margin-bottom: 60px;
	-webkit-box-shadow: inset 0px -5px 0 0 #293449;
	box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.navigation-item:first-child a {
	padding-left: 52px;
}

.navigation-item:last-child a {
	padding-right: 52px;
}

.site-navigation a {
	color: #ffffff;
	display: inline-block;
	padding: 22px 30px;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:focus {
	background-color: #293449;
	color: rgba(255, 255, 255, 0.5);
}

.catalog-offers {
	position: relative;
}

.catalog-offers-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 409px;
}

.catalog-offers-list li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	height: 123px;
	padding: 22px 25px;
	position: relative;
}

.catalog-offers-list h3 {
	line-height: 30px;
	font-size: 24px;
	color: #ffffff;
	margin: 0;
	margin-bottom: 15px;
}

.materials-offer {
	background-color: #ffbf47;
	background-image: url("../img/icon-materials.png");
	background-repeat: no-repeat;
	background-position: 213px 31px;
}

.materials-offer::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60px;
	height: 59px;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.instruments-offer {
	background-color: #3bbce3;
	background-image: url("../img/icon-instruments.png");
	background-repeat: no-repeat;
	background-position: 197px 33px;
}

.technics-offer {
	background-color: #dc91d8;
	background-image: url("../img/icon-technics.png");
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.sales-offer {
	background-color: #8ed78f;
	background-image: url("../img/icon-sales.png");
	background-repeat: no-repeat;
	background-position: 196px 26px;
}

.delivery-offer {
	background-color: #ffc047;
	background-image: url("../img/icon-delivery.png");
	background-repeat: no-repeat;
	background-position: 191px 32px;
}

.sales-offer,
.delivery-offer {
	margin-left: 640px;
}

.button {
	line-height: 18px;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
}

.offers-button {
	display: inline-block;
	min-width: 135px;
	text-align: center;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.1);
}

.offers-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.offers-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.catalog-offers-banners {
	width: 620px;
	height: 266px;
	position: absolute;
	left: 10px;
	bottom: 0px;
}

.banners-items {
	width: 620px;
	height: 266px;
	padding-top: 23px;
	padding-left: 24px;
}

.banners-items h3 {
	margin:0;
	line-height: 36px;
	font-size: 36px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.banner-content {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

.banners-items.item-1 {
	background-image: url("../img/banners-item-1.jpg");
}

.banners-items.item-2 {
	background-image: url("../img/banners-item-2.jpg");
}

.banner-button {
	width: 30px;
	height: 30px;
	background-color: transparent;
	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border:none;
}

.banner-button:focus {
  outline-style: none;
}

.banner-button-back {
	top: 118px;
	left: 28px;
	border-left: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
}

.banner-button-next {
	top: 118px;
	right: 27px;
	border-right: 3px solid #ffffff;
	border-top: 3px solid #ffffff;
}

.open-catalog {
	position: absolute;
	left: 25px;
	bottom: 22px;
}

.catalog-offers {
	margin-bottom: 53px;
	margin-top: 59px;
}

.manufacturers {
	margin-bottom: 84px;
}

.popular-products-top,
.manufacturers-top {
	background-color: #f9f5f0;
	padding: 25px 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 21px;
}

.popular-products h2,
.manufacturers h2,
.services h2 {
	margin: 0;
	line-height: 30px;
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin-right: auto;
	margin-top: 5px;
}

.button.all-products,
.button.all-manufacturers,
.open-catalog,
.about-company-button,
.company-info-button {
	background-color: #ee3643;
}

.button.all-products,
.button.all-manufacturers {
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 253px;
	text-align: center;
}

.open-catalog {
	padding: 10px 47px;
}

.about-company-button,
.company-info-button {
	padding: 10px 40px;
}

.company-info-button {
	width: 100%;
	border: none;
}

.company-info p {
	margin-bottom: 15px;
	margin-top: 25px;
}

.ts-companies li {
	font-size: 18px;
	line-height: 35px;
	padding-left: 35px;
	position: relative;
	margin-bottom: 5px;
}

.ts-companies li::before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	position: absolute;
	left: 0;
	top: 15px;
}

.about-company {
	min-height: 360px;
}

.contacts-map,
.ts-companies {
	margin-bottom: 32px;
}

.contacts-map {
	margin-top: 32px;
}

.button.all-products:hover,
.button.all-manufacturers:hover,
.open-catalog:hover,
.feedback-button:hover,
.modal-make-order:hover {
	background-color: #ca2c37;
}

.button.all-products:active ,
.button.all-manufacturers:active,
.open-catalog:active,
.feedback-button:active,
.modal-make-order:active {
	background-color: #ba2732;
}

.manufacturers-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	min-height: 310px;
}

.manufacturers-bottom li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	border: solid 1px #e5e5e5;
}

.manufacturers-bottom a {
	width: 220px;
	height: 144px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.manufacturers-bottom a:hover {
	-webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-bottom a:active {
	opacity: 0.3;
	-webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.index-columns {
	font-size: 13px;
	font-style: normal;
	line-height: 24px;
	background-color: #ffffff;	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 80px;
	padding-bottom: 85px;
}

.company-info .contacts {
	min-width: 300px;
}

.contacts p {
	width: 179px;
}

.company-info-button {
	display: block;
	text-align: center;
}

.about-company-button {
	padding: 10px 40px;
}

.about-company h2,
.contacts h2 {
	font-size: 30px;
	font-style: normal;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 26px;
}

.about-company a,
.contacts a {
	color: #ffffff;
	background-color: #ee3643;
}

.about-company a:hover,
.contacts a:hover,
.company-info-button:hover {
	background-color: #ca2c37;
}

.about-company {
	margin-right: 120px;
}

.about-company a:active,
.contacts a:active,
.company-info-button:active {
	background-color: #ba2732;
}

.main-footer {
	background-color: #32425c;
	color: #ffffff;
	font-size: 18px;
}

.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 28px;
}

.main-footer-logo {
	display: block;
	padding: 20px 41px 20px 41px;
	background-color: #ee3643;
	-webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	margin-right: auto;
}

.main-footer-site-navigation,
.main-footer-catalog-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-footer-site-navigation {
	margin-top: 38px;
}

.main-footer-site-navigation a {
	color: #f3f7f9;	
	margin-left: 60px;
}

.main-footer-site-navigation a:hover {
	text-decoration: underline;
}

.main-footer-site-navigation a:active {
	color: rgba(241, 245, 247, 0.5);	
}

.footer-middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 48px;
}

.main-footer-contacts {
	max-width: 322px;
	margin: 0;
}

.main-footer-catalog-navigation a {
	color: #ffd180;
	margin-left: 60px;
}

.main-footer-catalog-navigation a:hover {
	text-decoration: underline;
}

.main-footer-catalog-navigation a:active {
	color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
	background-color: #293449;
	padding-top: 33px;
	padding-bottom: 35px;
	font-size: 16px;
}

.footer-bottom .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 129px;
	padding: 0;
	min-width: 134px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 20px;
}

.social-button:hover,
.social-button:active {
	background-color: #ee3643;
}

p.copyright {
	width: 227px;
	margin: 0;
	margin-right: auto;
	font-size: 16px;
}

.footer-bottom a {
	color: #ffd180;	
}

.footer-bottom a:hover {
	text-decoration: underline;
}

.footer-bottom a:active {
	color: #ee3643;
}

.footer-feedback {
	width: 135px;
}

.developer {
	margin-left: 53px;
	width: 96px;
}

.account-links-bottom a {
	font-size: 16px;
	font-style: normal;
	line-height: 18px;
	color: #32425c;
	background-color: #f1f5f7;
	text-decoration: underline;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 19px;
	margin-top: 19px;
}

.breadcrumbs a {
	color: #000000;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 32px;
	position: relative;
}

.breadcrumbs a::after {
	content: "";
	width: 7px;
	height: 7px;
	position: absolute;
	border-right: 3px solid #f2f6f8;
	border-top: 3px solid #f2f6f8;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 3px;
	right: 15px;
}

a.main-page-link {
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	padding-right: 50px;
	background-position: ;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.4);
}

.breadcrumbs-current {
	color: rgba(0, 0, 0, 0.4);
}		

.catalog-main-header {
	background-color: #f2f6f8;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}
.catalog-main-header h1 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;	
	margin: 0;
}

.catalog-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.catalog-filter {
	min-width: 222px;
	margin-right: 20px
}

.catalog-filter h2 {
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #f7f3ec;
	padding: 10px 17px 10px 19px;
}

.price-pick {
	padding: 0;
}

.range-filter {
	margin-bottom: 25px;
}

.price-pick legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;  
	height: 80px;
	margin-bottom: 10px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f7f3ec;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 10px;
	padding: 2px;
	border: 8px solid #ffffff;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;  
	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 95px;
	padding: 10px 10px;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: #283136;  
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max-price {
	text-align: right;
}

.catalog-filter fieldset {
	border: none;
	padding: 0;
}

.catalog-filter .price-pick,
.catalog-filter .filter-manufacturers {
	border-bottom: 2px solid #f7f3ec;
}

.catalog-filter legend {
	font-size: 17px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 13px;	
}

.filter-option {
	padding-left: 35px;
	margin-bottom: 21px;
}

.filter-option label {
	position: relative;
	display: block;
}

.filter-input + label {
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #c5c5c5;
	border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	left: -26px;
    top: -4px;
	width: 10px;
	height: 20px;
	border-bottom: 4px solid  #c5c5c5;
	border-right: 4px solid  #c5c5c5;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: inset -2px -5px 0 0 #ffffff;
	box-shadow: inset -2px -5px 0 0 #ffffff;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #b5b5b5;
}

.filter-input:disabled + label {
	color: #000000;
	opacity: 0.5;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: 0;
	width: 24px;
	height: 24px;
	border: 5px solid #c5c5c5;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	left: -27px;
	top: 8px;
	width: 8px;
	height: 8px;
	background-color: #c5c5c5;
	border-radius: 50%;
}

.filter-power {
	margin-bottom: 60px;
}

.filter-button {
	background-color: #ffffff;
	border-color: #e5e5e5;
	color: #000000;
	padding: 9px 39px;
	font-size: 13px;
	border: 1px solid #e5e5e5;
}

.products {
	width: 700px;
	min-height: 318px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 32px;
}

.popular-products .catalog-list {
	margin-bottom: 0;
}

.catalog-item {
	background-color: #ffffff;
	margin-bottom: 20px;
	position: relative;
	width: 220px;
	border: solid 1px #eaeaea;	
	padding-bottom: 19px;
}

.catalog-item:hover {
	-webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-button {
	display: block;	
}

.catalog-item h3 {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	text-align: center;
}

.catalog-item .price-old {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #999999;
	text-decoration: line-through;
	display: block;
	text-align: center;
	margin-bottom: 12px;
	margin-top: 12px;
	min-height: 18px;
}

.catalog-item .price-preset {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
	background-color: #ee3643;
	position: relative;
	width: 141px;
	padding: 10px 37px;
	border-radius: 3px;
	display: block;
    margin-right: auto;
    margin: auto;
}

.price-preset::after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.catalog-item.new::before {
	content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 59px;
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item-button {
	margin: 0;
	position: absolute;
	top: 0;
	width: 218px;
	height:170px;
	background-color: #ffffff;
	padding-top: 43px;
	display: none;
}

.button.buy {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8px;
	width: 135px;
	font-size: 14px;
	line-height: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: normal;
	color: #ffffff;
	background-color: #63a63e;
	-webkit-box-shadow: inset 0px -3px 0 0 #518534;
	box-shadow: inset 0px -3px 0 0 #518534;
}

.button.buy:hover {
	background-color: #5fbb2d;
}

.button.buy:active {
	background-color: #518534;
}


.button.bookmarks {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 135px;
	font-size: 14px;
	line-height: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #32425c;
	border: 2px solid;
	border-color: #63a63e;
}

.button.bookmarks:hover {
	border-color: #32425c;
}

.button.bookmarks:active {
	color: rgba(50, 66, 92, 0.3);
	border-color: rgba(50, 66, 92, 0.3);
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.pagination-list a {
	display: inline-block;
	padding: 9px 16px;
	border: solid 1px #e5e5e5;
	border-radius: 4px;
	margin-right: 9px;
}

.next a {
	padding: 9px 26px;
}

.pagination-list a:hover {
	border: solid 1px #bdc6ca;
}

.pagination-list a:active {
	border: solid 1px #ee3643;
	color: #000000;
}

.selected-page a {
	background-color: #ee3643;
	color: #ffffff;
}

.service-item {
	display: none;
}

.services p {
	margin: 0;
}

.services h2 {
	margin-bottom: 26px;
}

.services {
	background-color: #f4f7f9;
	padding-top: 58px;
}

.services-top {
	width: 398px;
	margin-bottom: 68px;
}

.tabs {
	position: relative;
	background-color: #eeeeee;
}

.service-list {
	margin: 0;
 	padding: 0;
	list-style: none;
}

.service-item {
	margin: 0;
 	padding: 0;
	margin-left: 80px;
	min-height: 285px;	
	background-repeat: no-repeat;
	background-position: right bottom;
	min-width: 621px;
}

.dilivery-item {
	padding-right: 325px;
	background-image: url(../img/delivery.png);
}

.garant-item {
	padding-right: 230px;
	background-image: url(../img/garant.png);
}

.credit-item {
	padding-right: 230px;
	background-image: url(../img/credit.png);
}

.service-item h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	margin-top: 1px;	
	margin-bottom: 25px;
}

#tab1:checked ~ .service-list .service-item:nth-child(1) {
	display: block;
}
#tab1:checked ~ .tab-controls .tab-item:nth-child(1) > label {
	background: #ffffff;
	color: #000000;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#tab2:checked ~ .service-list .service-item:nth-child(2) {
	display: block;
}
#tab2:checked ~ .tab-controls .tab-item:nth-child(2) > label  {
	background: #ffffff;
	color: #000000;
}

#tab3:checked ~ .service-list .service-item:nth-child(3) {
	display: block;
}
#tab3:checked ~ .tab-controls .tab-item:nth-child(3) > label {
	background: #ffffff;
	color: #000000;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tab-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 21px;
	line-height: 30px;
	position: relative;
}

.tab-controls label {
	display: block;
	max-width: 240px;
	padding: 16px 142px 16px 23px;
	color: #ffffff;
	-webkit-box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.tab-item {
	background-color: #32425c;
}

.services-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tab-controls::after {
	content: "";
	position: absolute;
	top: -45px;
	right: 0px;
	background-image: url(../img/service-shadow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 10px;
	height: 279px;
}

.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #f7f3ec;
	padding:  10px 17px 10px 19px; 
	-webkit-box-pack: justify; 
	-ms-flex-pack: justify; 
	justify-content: space-between;
	margin-bottom: 21px;
}

.sort h3 {
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: auto;
}

.sort-option,
.price-sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-option a {
	padding-right: 30px;
	padding-left: 30px;
	color: #b3b3b3;
	-webkit-text-decoration: underline dotted #ee3643;
	text-decoration: underline dotted #ee3643;
}

 .sort-option a:hover {
	color: #000000;
	-webkit-text-decoration: underline solid #ee3643;
	text-decoration: underline solid #ee3643;
}

 .sort-option a:active {
	color: #ee3643;
	text-decoration: none;
}

.price-sort a {
	display: block;
	width: 11px;
	height: 10px;
}

a.price-up {
	margin-right: 21px;
}

.price-sort a path {
	fill: #c5c5c5;
}

.price-sort a path:hover {
	fill: #000000;
}

.price-sort a path:active {
	fill: #ee3643;
}

.about-product {
	padding-top: 65px;
	padding-bottom: 32px;
	background-color: #f4f7f9;
}

.about-product h2 {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.catalog-content{
	margin-bottom: 53px;
}

.products {
	position: relative;
}

.modals {
	position: fixed;
	width: 620px;
	-webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
	box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
	z-index: 1;
	background-color: #ffffff;
	border-top: 7px solid #ee3643;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.added-to-cart {	
	top: 15%;
	left: 27%;	
	height: 282px;	
	display: none;
}

.modal-bottom {
	background-color: #f7f3ec;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 37px 80px;
}

.modal-make-order,
.modal-continue {	
	padding-top: 10px;
	padding-bottom: 10px;
	width: 220px;
	text-align: center;
	border: none;
}

.modal-make-order {
	background-color: #ee3643;
	color: #ffffff;
}

.modal-continue {
	background-color: #ffffff;
	color: #000000;
}

.modal-top {
	font-size: 30px;
	line-height: 30px;
	padding-left: 80px;
	padding-right: 80px;
	position: relative;
}

.button.modal-close {
	width: 21px;
	height: 21px;
	border:none;
	position: absolute;
	right: 9px;
	top: 8px;
	background-image: url("../img/cross.svg");
	background-color: transparent;
}

.added-to-cart p {
	display: block;
	margin: 0;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 99px;
	position: relative;
}

.added-to-cart p::before {
	content: "";
	position: absolute;
	top: 50px;
	left: 10px;
	width: 66px;
	height: 66px;
	background-image: url("../img/added-to-cart.svg");	
}

.map-modal {
	position: fixed;
	top: 24px;
	width: 940px;
	height: 446px;
	background-image: url("../img/map-modal.jpg");
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
}

.modal-container {
	width: 100%;
	position: absolute;
	text-align: center;
}

.modal-feedback {
	top: 200px;
	padding-top: 55px;
	display: none;
}

.feedback-button {
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	border: none;
	background-color: #ee3643;
}

.feedback-item {
	width: 220px;	
	margin: 0;
	margin-bottom: 22px;
}

.feedback-item label {
	display: block;
	margin-bottom: 14px;
	font-size: 18px;
	line-height: 18px;
}

.modal-top input {
	width: 220px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 10px;
	font-size: 13px;
	line-height: 18px;
	border: solid 2px #dee3e4;
	border-radius: 3px;
}

.modal-top textarea {
	width: 460px;
	min-height: 114px;
	font-size: 13px;
	line-height: 18px;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 10px;
	border: solid 2px #dee3e4;
	border-radius: 3px;
}

input,
textarea {
	outline:none;
}

.modal-top textarea:hover,
.modal-top input:hover {
	border: solid 2px #b5b5b5;
}

.modal-top textarea:focus,
.modal-top input:focus {
	border: solid 2px #ee3643;
}

.feedback-item.letter {
	width: 460px;
}

.modal-feedback .modal-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.search-button {
	position: absolute;
	top: 12px;
	left: 10px;
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0; 
	z-index: 1;
	opacity: 0.3;
	background-color: transparent;	
	border: none;
}

.search-field:hover {
	background-color: #212a3a;
}

.search-field:hover ~ .search-button {
	opacity: 1;
}

.search-field:focus ~ button path {
	fill: #ee3643;
}

.search-field:focus ~ .search-button {
	opacity: 1;
}
